extends ../index
block content   
    .row
        .col-lg-12
            h3.page-header Danh sách danh mục

    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading.d-flex.justify-content-between
                    | Made by Sonel
                    a(href="/api/products/add" class="btn btn-primary") Thêm danh mục 
                .panel-body
                    .table-responsive
                    table#dataTables-example.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th #
                                th Tên sản phẩm
                                th Danh mục
                                th Ảnh
                                th Thao tác
                        tbody
                            each cate, index in dataCate 
                                tr.odd.gradeX
                                    td #{index + 1}
                                    td #{cate.name}
                                    td 
                                    
                                    td
                                        a(class="btn btn-primary") Sửa
                                        button(type="button", class="btn btn-danger ml-5") Xóa
                        
                